* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  height: 100%;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.place-container {
  width: 600px;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.heading {
  color: #0f172a;
}
.custom-input {
  height: 36px;
  width: 200px;
  border-width: 0;
  background-color: #f1f5f9;
}
.input-search {
  border-radius: 10px;
  background-color: #f1f5f9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-icon {
  margin: 10px;
  height: 20px;
}
